<div class="container fixed-seciton-container py-3">
  <div class="row h-100">
    <div class="col mx-3 d-flex rounded-2 border border-1 shadow bg-bgcolor p-4 h-100"
         id="addEditTag">
      <div class="editTagMessage m-auto almarai-light fs-5 text-textcolor">اضغط على شعار لاظهار محتواه</div>
      <div class="editTagSpinner spinner-border m-auto d-none" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="editTagContent position-relative w-100 d-none">{% comment %} loaded by js {% endcomment %}</div>
      <div class="addTagContent w-100 d-none"></div>
    </div>
    <div class="col-5 d-flex flex-column h-100">
      <div id="tagsList" class="list-group flex-grow-1 overflow-y-auto">
        {% for tag in tags %}
          {% if tag.is_top or tag.is_buttom %}
            <div class="list-group-item list-group-item-action d-flex align-items-center undraggable"
                 data-id="{{ tag.id }}"
                 get-tag='{% url 'get-tag' %}?id={{ tag.id }}'>
              <span class="badge bg-dark text-bgcolor fs-6 almarai-light shadow-sm">{{ tag.tag_name }}</span>
            </div>
          {% else %}
            <div class="list-group-item list-group-item-action d-flex align-items-center"
                 data-id="{{ tag.id }}"
                 get-tag='{% url 'get-tag' %}?id={{ tag.id }}'>
              <span class="badge bg-champagnelight text-textcolor fs-6 almarai-light shadow-sm">{{ tag.tag_name }}</span>
              <i class="bi bi-grip-vertical fs-5 bg-body-secondary p-1 rounded-1 btn ms-auto d-none"></i>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div id="addTag-updateHierarchy-buttons" class="row m-4 mb-0">
        <button type="button"
                class="col-md col-12 btn btn-browndarkest rounded-0 me-md-5"
                url="{% url 'get-tag' %}"
                id="addNewTag">
          <span class="almarai-regular fs-5">إضافة شعار جديد</span>
        </button>
        <button type="button"
                class="col-md col-12 btn btn-brown rounded-0 almarai-light"
                id="updateHierarchy">
          <span class="almarai-light fs-5">تغير ترتيب الشعرات</span>
        </button>
      </div>
      <div id="update-hierarchy-buttons" class="row m-4 mb-0 d-none">
        <button type="button"
                class="col-md col-12 btn border border-2 border-redalert rounded-0 p-2 me-md-5"
                id="cancelUpdateHierarchy">
          <span class="almarai-regular text-redalert fs-5">إلغاء التغييرات</span>
        </button>
        <button type="button"
                class="col-md col-12 btn btn-greenalert rounded-0 almarai-light"
                id="saveHierarchy">
          <span class="almarai-light fs-5">حفظ التسلسل الجديد</span>
        </button>
      </div>
    </div>
  </div>
</div>
