{% extends "header&footer.html" %}
{% load static %}
{% block bodyClass %}
{% endblock bodyClass %}
{% block scripts %}
  <script src="{% static 'js' %}/Sortable.min.js" defer></script>
  <script src="{% static 'js' %}/utils.js"  type="module" defer></script>
  <script src="{% static 'js' %}/tagsPageScript.js" type="module" defer></script>
{% endblock scripts %}
{% block content %}
  <div class="container d-flex my-3" style="flex: 0 0 auto">
    <div class="row my-auto w-100" style="height: 79vh">
      <div class="col mx-3 d-flex rounded-2 border border-1 shadow bg-bgcolor p-4 h-100"
           id="addEditTag">
        <div class="editTagMessage m-auto almarai-light fs-5 text-textcolor">اضغط على شعار لاظهار محتواه</div>
        <div class="editTagSpinner spinner-border m-auto d-none" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="editTagContent position-relative w-100 d-none">
          <div class="almarai-light fs-4 mb-2 text-center">معلومات الوسم</div>
          <div class="col-md-6 px-1">
            <label for="mobile_attendee" class="form-label lateef-regular fs-4 mb-0">اسم شعار</label>
            <input type="text" class="form-control" id="mobile_attendee" />
          </div>
          <label class="lateef-regular fs-4 mb-1">الصلاحيات:</label>
          <div id="id_permissions" class="overflow-y-auto flex-grow-1">
            <div class="form-check">
              <input class="form-check-input"
                     type="checkbox"
                     name="permissions"
                     value="1"
                     id="permission_1" />
              <label class="form-check-label" for="permission_1">Can add log entry</label>
            </div>
            <div class="form-check">
              <input class="form-check-input"
                     type="checkbox"
                     name="permissions"
                     value="2"
                     id="permission_2" />
              <label class="form-check-label" for="permission_2">Can change log entry</label>
            </div>
          </div>
          <div id="update-tag-buttons" class="row justify-content-around mt-3">
            <button type="button"
                    class="col-md-3 col-12 btn border border-2 border-redalert rounded-0 p-2"
                    id="cancelUpdateTag">
              <span class="almarai-regular text-redalert fs-5">إلغاء التغييرات</span>
            </button>
            <button type="button"
                    class="col-md-3 col-12 btn btn-greenalert rounded-0 almarai-light"
                    id="saveTagChanges">
              <span class="almarai-light fs-5">حفظ شعار</span>
            </button>
          </div>
        </div>
        <div class="addTagContent w-100 d-none"></div>
      </div>
      <div class="col-5 d-flex flex-column h-100">
        <div id="tagsList" class="list-group flex-grow-1">
          {% for tag in tags %}
            {% if tag.is_top or tag.is_buttom %}
              <div class="list-group-item d-flex align-items-center undraggable"
                   data-id="{{ tag.id }}"
                   get-tag='{% url 'get-tag' %}?id={{ tag.id }}'>{{ tag.tag_name }}</div>
            {% else %}
              <div class="list-group-item d-flex align-items-center"
                   data-id="{{ tag.id }}"
                   get-tag='{% url 'get-tag' %}?id={{ tag.id }}'>
                {{ tag.tag_name }}
                <i class="bi bi-grip-vertical fs-5 bg-body-secondary p-1 rounded-1 btn ms-auto d-none"></i>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div id="addTag-updateHierarchy-buttons" class="m-4 mb-0 d-flex">
          <button type="button"
                  class="col-md col-12 btn btn-browndarkest rounded-0 me-md-5"
                  url="{% url 'get-tag' %}"
                  id="addNewTag">
            <span class="almarai-regular fs-5">إضافة شعار جديد</span>
          </button>
          <button type="button"
                  class="col-md col-12 btn btn-brown rounded-0 almarai-light"
                  id="updateHierarchy">
            <span class="almarai-light fs-5">تغير ترتيب الشعرات</span>
          </button>
        </div>
        <div id="update-hierarchy-buttons" class="m-4 mb-0 d-flex d-none">
          <button type="button"
                  class="col-md col-12 btn border border-2 border-redalert rounded-0 p-2 me-md-5"
                  id="cancelUpdateHierarchy">
            <span class="almarai-regular text-redalert fs-5">إلغاء التغييرات</span>
          </button>
          <button type="button"
                  class="col-md col-12 btn btn-greenalert rounded-0 almarai-light"
                  id="saveHierarchy">
            <span class="almarai-light fs-5">حفظ التسلسل الجديد</span>
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
