{% load static %}

<div class="modal fade almarai-regular" data-bs-keyboard="false" data-bs-backdrop="static" id="confirmationModal"
  tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-md-down">
    <div class="modal-content bg-bgcolor p-2">
      <div class="modal-header border-0 d-block pb-1">
        <h3 class="modal-title almarai-bold" id="modalLabel">
          تأكيد التسجيل
        </h3>
        <h6>
          تم استكمال تسجيل المعلومات بنجاح. يُرجى التحقق من المبلغ المطلوب
          لاستكمال التسجيل.
        </h6>
      </div>
      <div class="modal-body flex-md-grow-1 flex-grow-0">
        <div class="mb-1">المبلغ المطلوب: {{expenses}}</div>
        <div class="mb-1">{{expensesPayedMessage}}</div>

        {% if expensesPayed or expensesPayed == 0 %}

        {% if expensesPayedReadOnly %}
        <input type="number" class="col-7 border-textcoloralt text-browndarkest" value="{{expensesPayed}}"
          name="expenses" step="5" min="1" max="{{expenses}}" required readonly />
        {% else %}
        <input type="number" class="col-7 border-textcoloralt text-browndarkest" value="{{expensesPayed}}"
          name="expenses" step="5" min="1" max="{{expenses}}" required />
        {% endif %}
        {% else %}
        <input type="number" class="col-7 border-textcoloralt text-browndarkest" value="10" name="expenses" step="5"
          min="1" max="{{expenses}}" required />

        {% endif %}

        <!-- <input type="number" class="col-7 border-textcoloralt text-browndarkest" value="10" name="expenses" step="5"
          min="1" max="50" required readonly /> -->

        <div class="invalid-feedback d-block almarai-regular text-redalert fs-5">
          {{expensesError}}
        </div>

        <div class="invalid-feedback d-block almarai-regular text-redalert fs-5">

          {% if profileId %}
          رقم التسجيل الخاص بك هو: {{profileId}}
          {% endif %}

        </div>
        <div class="invalid-feedback d-block almarai-regular text-redalert fs-5">

          {% if profilePassword %}
          كلمة المرور الخاص بك هو: {{profilePassword}}
          {% endif %}

        </div>
      </div>
      <div class="modal-footer border-0 m-md-0 m-4 mt-0 d-flex justify-content-around">
        {% if profileId %}
        <a type="button" href="{% url 'profile-form' %}"
          class="col-md col-12 btn btn-pewter rounded-0 p-3 almarai-light d-flex align-items-center justify-content-center"
          id="newFormButton">
          <i class="bi bi-chevron-right fs-3 d-flex"></i>
          <div>تعبئة استمارة جديدة</div>
        </a>
        {% else %}
        <button type="button" class="col-md col-12 btn btn-browndarkest rounded-0 p-3 almarai-light "
          id="modalSubmitButton">
          استكمال التسجيل
        </button>
        <button type="button" class="col-md col-12 btn btn-brown rounded-0 p-3 almarai-light" data-bs-dismiss="modal">
          للعودة وتعديل البيانات
        </button>
        {% endif %}
      </div>
    </div>
  </div>
</div>