{% extends "main.html" %}
{% load static %}
{% block bodyClass %}
  bg-champagne text-textcolor almarai-regular
{% endblock bodyClass %}
{% block content %}
  <div class="container d-flex align-items-center justify-content-center"
       style="height: 100vh">
    <div class="card p-4 shadow bg-bgcolor">
      <div class="text-start">
        <div class="d-flex">
          <img src="{% static 'images' %}/logo.png"
               alt="Logo"
               class="img-fluid"
               width="150" />
          <span class="ml-2 reemkufi-regular h1 text-textcolor">مدرسة
            <br />
          الشَّهِيد اِسْتِفَانُوس</span>
        </div>
      </div>
      <div class="card-body">
        <form class="bg-bgcolor" method="post" action="{% url 'sign-in' %}">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" class="form-control" id="usr" name="username" required />
            <label for="usr">رقم المستخدم</label>
          </div>
          <div class="form-group pb-0">
            <input type="password"
                   class="form-control"
                   id="password"
                   name="password"
                   required />
            <label for="password">كلمة المرور</label>
          </div>
          <div class="d-grid justify-content-center">
            <button type="submit" class="btn btn-browndarkest rounded-0 py-2 px-4">
              <span class="almarai-light fs-5">تسجيل الدخول</span>
            </button>
            <span class="mt-3 text-redalert">{{ errorSignInMessage }}</span>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
