{% load static %}

<footer class="mt-auto bg-browndark pt-4">
  <div class="container text-center">
    <div class="h1 reemkufi-regular text-textcolor mb-0">
      مدرسة الشَّهِيد اِسْتِفَانُوس
    </div>
    <div class="almarai-light text-textcolor">
      بكنيسة السيدة العذراء مريم والشهيد مارجرجس بغبريال
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-2">
        <div class="text-start mb-3 fs-4" dir="ltr">
          <div class="text-muted text-decoration-none d-inline-block">
            <span class="fs-5 fw-light text-bgcolor">03 5033626</span>
            <i class="bi bi-telephone text-bgcolor"></i>
          </div>
          <a class="text-muted text-decoration-none d-inline-block" href="https://goo.gl/maps/CBc8CB8wvpcrB6d58">
            <span class="fs-5 text-bgcolor almarai-light">موقع المدرسة</span>
            <i class="bi bi-geo-alt text-bgcolor"></i>
          </a>
        </div>
      </div>
      <div class="col-2">
        <div class="text-end mb-3 fs-4" dir="ltr">
          <a class="text-muted text-decoration-none d-inline-block"
            href="https://www.facebook.com/tlmazetastefanous?mibextid=ZbWKwL">
            <i class="bi bi-facebook text-bgcolor"></i>
            <span class="fs-5 fw-bold text-bgcolor">Facebook</span>
          </a>
          <a class="text-muted text-decoration-none d-inline-block" href="#">
            <i class="bi bi-envelope-fill text-bgcolor"></i>
            <span class="fs-5 fw-bold text-bgcolor">Email</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div dir="ltr" class="container-fluid d-flex justify-content-center bg-browndarker text-bgcolor" lang="en">
    &copy; 2023. by Peter Nady &amp; Kamal Nady
  </div>
</footer>