<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block script %}
    {% endblock script %}
    <title>{{title}}</title>
</head>

<body>
    {% include 'header.html' %}
    {% if messages %}
    {% for message in messages %}
    {{message}}
    {% endfor %}
    {% endif %}
    {% block content %}
    <!-- where the all child will be the main -->
    {% endblock content %}



</body>

</html>